doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    script(data-main="/mytest/js/main" src="/javascripts/require.js")
    
  body
    block content
