doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block styles  
      link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
      link(rel='stylesheet', href='../bootstrap/css/amelia.bootstrap.css')    
      link(rel="stylesheet" href='cdms/css/style.css')
  body
    block content
      
block scripts          
  script(src="/javascripts/jquery-3.0.0.min.zopfli.js.gz")
  script(data-main="js/main" src="/javascripts/require.js")
  
